@import '@/src/styles/variables.scss';

.wrapper {
    width: 100%;
    @include flex(center, center);
    .sections {
        width: 50%;
        .title {
            width: 50%;
            color: $green;
            font-weight: 800;
            font-size: 2rem;
        }
        padding: 2rem;
    }
    .text {
        @include flex(center, center);
        flex-direction: column;
        p {
            text-align: justify;
        }
    }
    .certificates {
        @include flex(center, center);
        div {
            width: 80%;
            @include flex(center, center);
            flex-direction: column;
            img {
                width: 100%;
                height: auto;
            }
            p {
                text-align: center;
                color: $grey;
            }
        }
        button {
            background-color: transparent;
            border: 0;
            width: 10%;
            img {
                width: 100%;
                height: auto;
                transition: .5s;
            }
        }
    }
}