@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    background-color: #1b1b1b;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.highlighted {
    color: #01e85d;
    font-weight: 800;
}

p,
span {
    font-weight: 600;
}

.pulseAnimation {
    animation: pulse 1.5s infinite alternate ease;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px transparent;
    }

    100% {
        box-shadow: 0 0 30px 5px #01e85d;
    }
}
