@import '@/src/styles/variables.scss';

.wrapper {
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    gap: 2rem;
    .imgs {
        @include flex(center, center);
    }
    .circuit {
        width: 40%;
        height: auto;
    }
    .titleImg {
        margin: 0 -30px;
        z-index: 100;
        height: auto;
        border-radius: 100%;
        animation: pulse 1.5s infinite alternate ease;
    }
    .titleText {
        font-size: 2.5rem;
        text-align: center;
        color: $white;
        font-weight: 900;
    }
    section {
        width: 100%;
        @include flex(center, center);
        article {
            padding: 0 2rem;
            width: 50%;
            @include flex(center, center);
            flex-direction: column;
            .sectionTitle {
                color: $green;
                font-size: 2rem;
                text-align: center;
            }
            p {
                color: $white;
                text-align: justify;
                font-weight: 500;
                a {
                    color: $green;
                }
            }
        }
        div {
            width: 50%;
            @include flex(center, center);
            padding-top: 50px;
            img {
                height: auto;
                border-radius: 20px;
                border: 1px solid $green;
            }
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px transparent;
    }

    100% {
        box-shadow: 0 0 30px 5px $green;
    }
}