@import '@/src/styles/variables.scss';

.wrapper {
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    gap: 2rem;
    .titleImg {
        height: auto;
        border-radius: 100%;
        animation: pulse 1.5s infinite alternate ease;
    }
    .titleText {
        font-size: 2.5rem;
        text-align: center;
        color: $white;
        font-weight: 900;
    }
    section {
        .sectionTitle {
            color: $green;
            font-size: 2rem;
        }
        width: 100%;
        @include flex(center, center);
        flex-direction: column;
        p {
            color: $white;
            text-align: center;
            padding: 0 1rem;
            font-weight: 500;
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px transparent;
    }

    100% {
        box-shadow: 0 0 30px 5px $green;
    }
}