@import '../../styles/variables.scss';

.wrapper {
    margin-top: auto;
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    padding: 1rem 0;
    hr {
        width: 95%;
        color: $grey;
    }
    div {
        @include flex(center, center);
        gap: 10px;
        width: 100%;
        a {
            width: 60px;
            @include flex(center, center);
            svg {
                width: 100%;
            }
        }
    }
    span {
        color: $grey;
    }
}