@import '../../src/styles/variables.scss';

.wrapper {
    width: 100%;
    color: $white;
    @include flex(center, center);
    flex-direction: column;
    .title {
        color: $green;
        font-size: 3rem;
        font-weight: 600;
    }
    .techSection {
        @include flex(center, center);
        flex-direction: column;

        .texts {
            width: 100%;
            padding: 0 2rem;
            p {
                text-align: justify;
            }
        }
    }
}
